In [101]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
from configG import g_key

In [102]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2021-08-06 16:45:54,-33.6500,115.3333,51.04,81,0,9.80
1,1,Korla,CN,2021-08-06 16:45:55,41.7597,86.1469,84.63,22,100,6.38
2,2,Shimoda,JP,2021-08-06 16:45:55,34.6667,138.9500,78.10,88,45,7.92
3,3,Coquimbo,CL,2021-08-06 16:41:59,-29.9533,-71.3436,58.73,72,40,10.36
4,4,Kavieng,PG,2021-08-06 16:45:55,-2.5744,150.7967,82.08,76,99,9.98

In [103]:
# The data we use for any mapping must be either an integer or a floating-point decimal number
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [104]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [105]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [106]:
# Create the heatmap for the maximum temperature. 6.5.2

# Get the latitude and longitude.
# 1. Assign the locations to an array of latitude and longitude pairs [latitude, longitude]
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute anf
# Adjust Heatmap Zoom, Intensity, and Point Radius
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp) 
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#Instead of using the for loop, we can perform a list comprehension within the heatmap_layer() function
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# with dissipation option for creating heatmaps
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [107]:
# Create a Percent Humidity Heatmap
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [108]:
# Create a Percent Cloudiness Heatmap
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [109]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [110]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [111]:
# Filter the maximum temperature column in the city_data_df DataFrame 
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Korla,CN,2021-08-06 16:45:55,41.7597,86.1469,84.63,22,100,6.38
2,2,Shimoda,JP,2021-08-06 16:45:55,34.6667,138.9500,78.10,88,45,7.92
4,4,Kavieng,PG,2021-08-06 16:45:55,-2.5744,150.7967,82.08,76,99,9.98
8,8,Kushima,JP,2021-08-06 16:45:57,31.4583,131.2333,77.63,94,21,5.01
10,10,Ponta Do Sol,PT,2021-08-06 16:45:58,32.6667,-17.1000,82.00,79,27,1.03
15,15,Torbay,CA,2021-08-06 16:45:59,47.6666,-52.7314,81.28,77,50,18.79
16,16,Kladanj,BA,2021-08-06 16:45:59,44.2264,18.6914,76.71,71,65,1.50
18,18,Tura,IN,2021-08-06 16:46:00,25.5198,90.2201,76.12,96,80,7.02
19,19,Kahului,US,2021-08-06 16:44:20,20.8947,-156.4700,78.84,90,20,12.66
26,26,Sao Filipe,CV,2021-08-06 16:46:02,14.8961,-24.4956,78.01,80,72,7.16

In [112]:
# determine if there are any null values.
preferred_cities_df.count()

City_ID       238
City          238
Country       238
Date          238
Lat           238
Lng           238
Max Temp      238
Humidity      238
Cloudiness    238
Wind Speed    238
dtype: int64

In [113]:
# Get Travel Destinations 6.5.4
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1          Korla      CN     84.63  41.7597   86.1469
2        Shimoda      JP     78.10  34.6667  138.9500
4        Kavieng      PG     82.08  -2.5744  150.7967
8        Kushima      JP     77.63  31.4583  131.2333
10  Ponta Do Sol      PT     82.00  32.6667  -17.1000
15        Torbay      CA     81.28  47.6666  -52.7314
16       Kladanj      BA     76.71  44.2264   18.6914
18          Tura      IN     76.12  25.5198   90.2201
19       Kahului      US     78.84  20.8947 -156.4700
26    Sao Filipe      CV     78.01  14.8961  -24.4956

In [117]:
# Retrieve Hotels from a Nearby Search
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [118]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
     # To handle IndexError to get the code to run we use Try-Except. Inside of that to grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
hotel_df.head()

            City Country  Max Temp      Lat       Lng Hotel Name
1          Korla      CN     84.63  41.7597   86.1469
2        Shimoda      JP     78.10  34.6667  138.9500
4        Kavieng      PG     82.08  -2.5744  150.7967
8        Kushima      JP     77.63  31.4583  131.2333
10  Ponta Do Sol      PT     82.00  32.6667  -17.1000

In [119]:
# Add pop-up markers with hotel information to a heatmap

# 1. Create a Maximum Temperature Heatmap from a Hotel DataFrame
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [120]:
# markers = gmaps.marker_layer(marker_locations), where the marker_locations are latitudes and longitudes.
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
# add markers locations from the gmaps documentation on how to add marker
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [123]:
#From the gmaps documentation on how to add markers (Links to an external site.), we need to add an info_box_template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# According to the documentation (Links to an external site.), we can use this example to create the data for the info_box_template.
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [124]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))